### Deploying Machine Learning Models with Flask + Heroku: 

Here we will create a simple linear model and pickle it for deployment later.

In [1]:
from sklearn.datasets import load_boston 
from sklearn.linear_model import LinearRegression 
import pandas as pd 
import pickle

In [2]:
data = load_boston() 
df = pd.DataFrame(data=data['data'], columns=data['feature_names'])
df['Target'] = data['target']

X = df.drop('Target', axis=1)
y = df.Target

In [8]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [26]:
import json
import requests
heroku_url = "https://boston-housing-flask-model.herokuapp.com"

data = {"CRIM": .03,  
        "ZN": 0.0, 
        "INDUS": 9.8, 
        "CHAS": 0.0, 
        "NOX": .405, 
        "RM": 6.953, 
        "AGE": 83.4, 
        "DIS": 4.034, 
        "RAD": 1.0, 
        "TAX": 348.0, 
        "PTRATIO": 12.4, 
        "B": 396.7, 
        "LSTAT": 9.5
       }
data = json.dumps(data)

send_request = requests.post(heroku_url, data)
print(send_request.json())

{'results': {'results': 32}}

In [13]:
lin_model = LinearRegression() 
lin_model.fit(X, y)
pickle.dump(lin_model, open("lin_model.pkl", "wb"))

0.7406426641094094